*.class
*.log

.cache
.history
.env/
.lib/
dist/*
scalametaproglab/target/
lib_managed/
src_managed/
../project/boot/
../project/plugins/project/
target/


.idea*
.bsp
.metals
.vscode
.bloop
metals.sbt

